<section id="register" class="register">
    <div class="content-wrapper">
        <h6>Zoom registration </h6>
        <ul style="position: relative; list-style: none;">
            <li> 27 April 2022: Dr Barbara McGillivray: <a href="https://turing-uk.zoom.us/meeting/register/tJMrcO-qqzwvH9VkymZm0l4w8fMKvHVaqFRK" style="color: cornflowerblue; font-weight: bolder;">register here to receive a Zoom link</a></li>

        </ul>
        <br>
        <h6>Mailing list</h6>
        <ul>
            <li> <a href="https://web.maillist.ox.ac.uk/ox/subscribe/open-humanities" style="color: cornflowerblue; font-weight: bolder;">Subscribe</a> to the Open Humanities seminar series mailing list to receive the announcements of upcoming sessions (log in via Oxford SSO for a better experience)!</li>
        </ul>

    </div>
</section>
<!-- End Schedule Section -->
