<section id="register" class="register">
    <div class="content-wrapper">
        <h6>Zoom registration </h6>
        <ul style="position: relative; list-style: none;">
            <li> 22 February 2022: Dr Melodee Beals, <a href="https://zoom.us/meeting/register/tJUkfuyuqzgoE9J1HU218kdzY8phduHhiNs3" style="color: cornflowerblue; font-weight: bolder;">Register here</a></li>
            <li> 22 March 2022: Dr Anne Alexander, <a href="ENTERNEWREGISTRLINKHERE" style="color: cornflowerblue; font-weight: bolder;">TBA</a></li>

        </ul>
        <br>
        <h6>Mailing list</h6>
        <ul>
            <li> <a href="https://web.maillist.ox.ac.uk/ox/subscribe/open-humanities" style="color: cornflowerblue; font-weight: bolder;">Subscribe</a> to the Open Humanities seminar series mailing list to receive the announcements of upcoming sessions (log in via Oxford SSO for a better experience)!</li>
        </ul>

    </div>
</section>
<!-- End Schedule Section -->
